.payment-container {
    margin: -30px 0px 33px -15px;
    display: inline-block;
    max-width: 500px;
}
.game-title {
    font: 25px/50px 'Open Sans Condensed',sans-serif;
    margin-right: 12px;
    padding: 30px 0px 3px 20px;
    color: #000;
}
.payment-container select {
    width: 356px;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

.payment-currency {

}

#money-field, #gold-field {

    width: 96%;
    padding: 0;
    padding-left: 6px;
}

.payment-container input {
    width: 340px;
    height: 30px;
    padding: 0 6px;
}



.form-horizontal .controls {
    margin-left: 180px;
}
.payment-container .control-group {
    margin-left: -33px;
}
.payment-container label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}
.game-title {
    font: 25px/50px 'Open Sans Condensed', sans-serif;
    margin-right: 12px;
    padding: 30px 0px 3px 20px;
    color: black;
}
.product-page p.price-font {
    font: 30px/26px 'Open Sans Condensed', sans-serif;
    display: inline;
    float: left;
    margin-right: 12px;
    margin-top: 6px;
}

 .price-block {
    display: inline-block;
    width: 174px;
    vertical-align: top;
}

.add-down {
    text-align: right;
    color: #808080;
}
.control-group {
  margin-bottom: 10px;
}

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}


